body {
	background-color: #000066
}

.title {
	text-align: left;

	font-family: "Helvetica", sans-self;
	font-size:   72px;
	font-weight: bold;

	color: #ffffff;
}

h1.about {
	text-align: left;

	padding-left: 50px;

	font-family: "Helvetica", sans-self;
	font-size:   48px;

	color: #ffffff;
}

img.about {
	padding-left: 100px;
}

dt.about {
	text-align: left;

	padding-left: 100px;

	font-family: "Helvetica", sans-self;
	font-size:   36px;

	color: #ffffff;
}

dd.about {
	text-align: left;

	padding-left: 150px;

	font-family: "Helvetica", sans-self;
	font-size:   32px;

	color: #ffffff;
}


.container {
	width:	 960px;
}

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;

	color: #ffffff;

    font-weight: bold;
	}

/* smart phones */
@media screen and (max-device-width: 480px) {
}
